body {
    background-color: #00649c;
}

html {
    overflow-y: hidden;
}

/* Global Design */

#dashboard {
    flex-direction: row;
    height: 18vh;
    overflow: hidden;
}

#message {
    width: 100%;
}

#home {
    direction: rtl;
}

#dashboard p {
    color: #FFFFFF;
}

#schedule div {
    padding: 1vh;
    margin: 1vh;

}

#grades, #subjects {
    overflow-x: scroll;
    flex-direction: row;
    justify-content: space-between;
}

#grades::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

#subjects {
    flex-direction: row;
    height: 69vh;
    min-height: 69vh;
    max-height: 69vh;
}

#subjects::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

#top {
    font-size: 200%;
}

/* Desktop Style */

#desktop-dashboard {
    flex-direction: row;
    height: 15vh;
}

#desktop-dashboard p {
    color: #FFF;
    padding: 0;
    margin: 0.5vh;
}

#desktop-dashboard-message {
    overflow: hidden;
    width: 100%;
}

#desktop-dashboard-date-time-time {
    font-size: 200%;
}

#desktop-schedule {
    direction: rtl;
    align-content: stretch;
}

#desktop-schedule-subjects {
    overflow-y: -moz-scrollbars-none;
    overflow-y: scroll;
    min-height: 68vh;
    height: 68vh;
}

#desktop-schedule-subjects::-webkit-scrollbar {
    width: 0 !important;
}

#desktop-schedule-grades, #desktop-schedule-subjects {
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: auto;
}

#desktop-schedule-subjects > div {
    align-self: start;
    margin: 0;
    padding: 0;
}

#desktop-schedule-subjects > div > p, #desktop-schedule-grades > p {
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    color: #333;
    word-break: break-all;
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    min-width: 5vw;
    max-width: 5vw;
    width: 5vw;
}

/* Mobile Style */

#mobile-schedule {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#mobile-schedule-subjects {
    overflow-y: -moz-scrollbars-none;
    overflow-y: scroll;
    justify-content: start;
    min-height: 80vh;
    height: 80vh;
}

#mobile-schedule-subjects::-webkit-scrollbar {
    width: 0 !important;
}

#mobile-schedule-subjects > div {
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    color: #333;
    margin: 0.5vh;
}

#mobile-schedule-subjects > div > p {
    direction: rtl;
    text-align: right;
    text-align-last: right;
    justify-content: right;
}

#mobile-schedule-subjects > div > div {
    flex-direction: row;
    direction: rtl;
    justify-content: space-evenly;
}

#mobile-switcher-grades > div {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1vh 0;
}

#mobile-switcher-grades > div > * {
    width: 100%;
    height: 100%;
    margin: 0 1vh;
}

#mobile-schedule-dashboard p {
    padding: 0;
    margin: 0.5vh;
}

#mobile-schedule-dashboard {
    flex-direction: row;
    justify-content: center;
    height: 15vh;
    max-height: 15vh;
    margin: 1vh;
}

#mobile-schedule-dashboard-message {
    overflow: scroll;
    width: 100%;
    height: 15vh;
}

#mobile-schedule-dashboard-grade {
    font-size: 200%;
}

#mobile-schedule-dashboard > p {
    color: #FFF;
}