body {
    background-color: #00649c;
}

html::-webkit-scrollbar {
    width: 0 !important
}

/* Desktop Style */

#desktop-dashboard {
    flex-direction: row;
    height: 15vh;
}

#desktop-dashboard p {
    color: #FFF;
}

#desktop-schedule {
    height: 80vh;
    direction: rtl;
    align-content: stretch;
}

#desktop-schedule-subjects {
    overflow-y: -moz-scrollbars-none;
    overflow-y: auto;
    min-height: 68vh;
    height: 68vh;
}

#desktop-schedule-subjects::-webkit-scrollbar {
    width: 0 !important
}

#desktop-schedule-classnames, #desktop-schedule-subjects {
    flex-direction: row;
    margin: 0;
}

#desktop-schedule-subjects > div {
    align-self: start;
    margin: 0;
    padding: 0;
}

#desktop-schedule-subjects > div > p, #desktop-schedule-classnames > p {
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    color: #333;
    word-break: break-all;
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    min-width: 5vw;
    max-width: 5vw;
    width: 5vw;
}

/* Mobile Style */

#mobile-schedule {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#mobile-schedule-subjects > div {
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    color: #333;
    margin: 0.5vh;
}

#mobile-schedule-subjects > div > p {
    direction: rtl;
    text-align: right;
    text-align-last: right;
    justify-content: right;
}

#mobile-schedule-subjects > div > div {
    flex-direction: row;
    direction: rtl;
    justify-content: space-evenly;
}

#mobile-switcher-grades > div {
    flex-direction: row;
    justify-content: space-evenly;
}

#mobile-switcher-grades > div > * {
    width: 100%;
    height: 100%;
}

#mobile-schedule-dashboard {
    flex-direction: row;
    justify-content: center;
}

#mobile-schedule-dashboard-message {
    width: 100%;
}

#mobile-schedule-dashboard-classname {
    font-size: 200%;
}

#mobile-schedule-dashboard > p {
    color: #FFF;
}